---
title: Home
---

<!DOCTYPE HTML>

<html>
	<head>
		<title>Timothy Dorn Portfolio</title>
		{% include meta.html %}
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{{ site.baseurl }}/">Timothy Dorn</a></h1>
						{% include menu.html %}
						
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon"><img src="{{ site.avatar }}" /></span></div>
							<!-- <span class="icon fa-gem"></span></div> -->
							<h2>Timothy's Portfolio</h2>
							<p>Personal projects for your perusal</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
							<!-- <section id="two" class="wrapper alt spotlight style2"> -->
							<!-- <section id="three" class="wrapper spotlight style3"> -->
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Timothy Dorn</h2>
										<p>Welcome to my engineering portfolio. I have a Bachelors of Science in Aerospace Engineering and a Masters of Science in Robotics, both from the University of Minnesota, Twin-Cities. Please follow along as I continue advancing my knowledge of robotics and engineering.</p>
										<a href="{{ site.baseurl }}{{ about.url }}" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Projects</h2>
									<p>Below are a sampling of my projects. Please go to the Posts page to see more.</p>
									<section class="features">
										{% for post in site.posts %}
											<article>
												<a href="{{ site.baseurl }}{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
												<h3 class="major">{{ post.title }}</h3>
												<p>{{ post.excerpt }}</p>
												<a href="{{ site.baseurl }}{{ post.url }}" class="special">Learn more</a>
											</article>
										{% endfor %}
								
									</section>
									<ul class="actions">
										<li><a href="{{ site.baseurl }}/posts" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					{% include footer.html %}

			</div>

		<!-- Scripts -->
			{% include scripts.html %}
			

	</body>
</html>
