<section id="footer">
	<div class="inner">
		<h2 class="major">Get in touch</h2>
		<p>Dear Reader, welcome to my portfolio. I have a B.S. in aerospace engineering and an M.S. in Robotics from the University of Minnesota, Twin-Cities. Please follow along as I attempt to build upon my degrees and experience. I am pleased to show off some of my projects as I endeavor to become a more capable engineer and person.</p>
		<form method="post" action="#">
			<div class="fields">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Send Message" /></li>
			</ul>
		</form>
		<ul class="contact">
			<li class="icon solid fa-home">
				Untitled Inc<br />
				1234 Somewhere Road Suite #2894<br />
				Nashville, TN 00000-0000
			</li>
			<li class="icon solid fa-phone">(000) 000-0000</li>
			<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
			<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
			<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
			<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>