<!-- <nav id="menu"> -->
	<!-- <div class="inner"> -->
		<!-- <h2>Menu</h2> -->
		<!-- <ul class="links"> -->
			<!-- <li><a href="{{ site.baseurl }}/">Home</a></li> -->
			<!-- <li><a href="{{ site.baseurl }}/generic.html">Generic</a></li> -->
			<!-- <li><a href="{{ site.baseurl }}/elements.html">Elements</a></li> -->
			<!-- <li><a href="{{ site.baseurl }}/about">About</a></li> -->
			<!-- <li><a href="#">Log In</a></li> -->
			<!-- <li><a href="#">Sign Up</a></li> -->
		<!-- </ul> -->
		<!-- <a href="#" class="close">Close</a> -->
	<!-- </div> -->
<!-- </nav> -->
<nav>
	<!-- <a href="{{ site.baseurl }}/">Home</a> -->
	<!-- <a href="{{ site.baseurl }}/generic">Generic</a> -->
	<!-- <a href="{{ site.baseurl }}/elements">Elements</a> -->
	<!-- <a href="{{ site.baseurl }}/about">About</a> -->
	<!-- <a href="{{ site.baseurl }}/posts">Posts</a> -->
	<!-- <a title="Resume" href="{{ site.resume }}" target="_blank">Resume</a> -->
	<!-- <a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a> -->
	<div class="dropdown">
		<button class="dropbtn"><a hreff="{{ site.baseurl }}/">Home</a></button>
	</div>
	<div class="dropdown">
		<button class="dropbtn"><a href="{{ site.baseurl }}/about">About</a></button>
	</div>
	<div class="dropdown">
		<button class="dropbtn"><a href="{{ site.baseurl }}/posts">Posts</a></button>
		<div class="dropdown-content">
			{% for post in site.posts %}
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn"><a href="{{ site.baseurl }}/generic">Generic</a></button>
	</div>
	<div class="dropdown">
		<button class="dropbtn"><a href="{{ site.baseurl }}/elements">Elements</a></button>
	</div>
</nav>
