<!doctype html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

		{% include meta.html %}
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Header -->
			{% include header.html %}
			
			<!-- Menu -->
			{% include menu.html %}
			
			<!-- Wrapper -->
			<section id="wrapper">
				<!-- Content -->
				<div class="wrapper">
					<div class="inner">
						
						{{ content }}
					</div>
				</div>
			</section>
			<!-- Footer -->
			{% include footer.html %}
		</div>
	</body>
</html>